<h1>Bienvenido a Piola</h1> 
<h2><img src="<%= @avatar %>">&nbsp;<%= link_to @nick, 'http://twitter.com/' + @nick, :target => '_blank' %></h2><%= @usuario %>
<br /><a href="/timeline">Ver timeline</a>
